<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= 4 + 5 + 1%></h1>

    

    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quis numquam, perferendis cumque alias eligendi nulla dolorum quisquam illo error quod aperiam sapiente laudantium ab dolore, placeat labore magni! Repudiandae.</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id iste quisquam quo mollitia repudiandae, explicabo sit sint eveniet autem? Quam cupiditate ut adipisci aliquam eos corporis reiciendis libero mollitia dignissimos.</p>
</body>
</html>